# Cartella del sito generato
_site/

# Cache di Jekyll e Bundler
.jekyll-cache/
.jekyll-metadata
.sass-cache/
vendor/
.bundle/

# File di sistema
.DS_Store
Thumbs.db

# Ignoriamo il file di lock per evitare conflitti di piattaforma
Gemfile.lock